*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* navigation styles*/


nav  {
	background-color: #DDD0C6;
	text-align: center;

}

nav ul{
	list-style: none;
}
nav li{
	display: inline;
}


nav a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #50667E;
}

nav a:hover{
	background-color: #D5DFCF;
	color:black;
}


h1{text-align: center;
	margin-bottom: 50px;
	margin-top: 20px;
font-family: 'Domine', serif;

}
h2{
	font-size: 30px;
	margin:20px 20px 20px 30px;
	color: #204060;
	font-family: 'Open Sans', sans-serif;
}
h3{
	font-size: 20px;
		color: #204060;
}
h4{
	font-family: 'Amatic SC', cursive;
}
p{
	font-size: 20px;
	margin: 10px 20px 10px 20px;
}
body{
		color: #50667E;
		background-color: #f5f5f0;
}

