nav  {
	
	text-align: right;
	margin: 0;

	font-size: 50%;
	color:black;
}

nav ul{
	list-style: none;
}
nav li{
	display: inline;
}


nav a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	/*color: #50667E;*/
	color: black;
}

nav a:hover{
	background-color: black;
	color:black;
}

body{
 
  background-color:white;
  font-size:40px;
 font-family: 'Poiret One', cursive;
}
