<html>
<head>
<title>Title of Website</title>
<link href="lay.css" rel="stylesheet" type="text/css">

<script>
document.createElement('article');
document.createElement('section');
document.createElement('aside');
document.createElement('hgroup');
document.createElement('nav');
document.createElement('header');
document.createElement('footer');
document.createElement('figure');
document.createElement('figcaption');
</script>

</head>
<body>

<div id="wrapper">

<header> </header>

<aside> </aside>
<div id="content"> </div>
<div id="rightsidebar"> </div>

<footer> </footer>

</div>

</body>
</html>
