<html>
  <head>
  	<style>
     header
     {
      height: 150px;
      margin-top:50px;
      margin-bottom:10px;
      background-color:black;
      color:white;
     
    }

      section
      {
        height: 400px;
        margin-bottom:10px; 
        background-color:black;
      color:white;
      }
        footer
        {
          height:150px;
          background-color:black;
      color:white;
        }

    </style>
  </head>
  <a href="mmp240/index.html">Home Page</a>
  <body>
 
  
  <header> This is my header. </header>
  <section>This is my section.</section>
  <footer> This is my footer. </footer>
  </body>
  </html>
