.featured-image img{
display: block;
width: 100%;
height: auto;
}
.featured-image{
	margin:1em 0;
}
.image-caption{
	font-size: 80%;
	padding: .7em lem;
	background: hsl(0,0%,85%);
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
img{
	margin-top: 5px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
	font-size: auto;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width:550px)
{
	.centered {
	  position: absolute;
	  top: 50%;
	  left: 50%;
		font-size: 35px;
	  transform: translate(-50%, -50%);
}
@media only screen and (min-width:1200px)
{
	.centered {
	  position: absolute;
	  top: 50%;
	  left: 50%;
		font-size: 50px;
	  transform: translate(-50%, -50%);
}
