body{
		background-color: white;
	}
	nav  {
	background-color: #DDD0C6;
	text-align: center;
	margin: 0;

}

nav ul{
	list-style: none;
}
nav li{
	display: inline;
}


nav a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #50667E;
}

nav a:hover{
	background-color: #D5DFCF;
	color:black;
}
ul{
	text-align: center;
	margin-left: 10px;
}
li{
	margin-top: 5px;
	margin-left: 18px;
	margin-bottom: 6px;
}

	h1{
		color: #4e4e4e;
		text-align: center;
		border-style: double;
		border-color: #DDD0C6;

	}
	p{
		font-size: 20px;
	margin: 10px 20px 10px 20px;
	font-family: 'Neuton', serif;
	}

.site{
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto 1fr 1fr;
}


  
  


}
.sidebar{
	grid-column:2/3;
	grid-row: 1/2;
	grid-area: sidebar;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	border-spacing: 20px;
/*	border-style: double;
	border-color: black;*/
	padding: 5px;
}
.main-content{
	grid-column: 1/2;
	grid-row:1/2;
	grid-area: main;
	margin-left: 30px;
	margin-right: 30px;
	border-image: 10px;
	margin-top: 20px;
	/*border-style: solid;*/
	/*border-color: black;*/


}

footer{

font-size: 20px;
margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	padding-bottom: 20px;
	
	border-bottom: 40px solid #DDD0C6;
}
@media only screen and (min-width:600px){
	.site{
	display:grid ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr;
    grid-template-areas:

"main sidebar"

}
@media only screen and (min-width: 1200px){
	.site{
		grid-template-columns: 2fr 2fr ;
		grid-template-areas:
		"main sidebar"}

