
/* Create four equal columns that floats next to each other */
.column {
	margin-top: 20px;
  float: left;
  width: 25%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 990px) {
  .column {
    width: 100%;
  }
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* navigation styles*/


nav  {
	background-color: #DDD0C6;
	text-align: center;
	margin: 0;

}

nav ul{
	list-style: none;
}
nav li{
	display: inline;
}


nav a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #50667E;
}

nav a:hover{
	background-color: #D5DFCF;
	color:black;
}
ul{
	text-align: center;
	margin-left: 10px;
}
li{
	margin-top: 5px;
	margin-left: 18px;
	margin-bottom: 6px;
}


h1{text-align: center;
	margin-bottom: 18px;
	margin-top: 15px;
/*font-family: 'Domine', serif;*/
font-family: 'Neuton', serif;
color: #17334f;


}
h2{ margin-left: 20px;
	font-size: 20px;
	margin:0;
	color: #204060;
	/* font-family: 'Amatic SC', cursive;*/
	font-family: 'Neucha', cursive;
	}

h3{
	font-size: 20px;
		color: #204060;
		margin-bottom:
		margin-top: 5px;
		font-family: 'Merienda', cursive;
		/*font-family: 'Amatic SC', cursive;*/
}
h4{
	
}
p{
	font-size: 20px;
	margin: 10px 20px 10px 20px;
	font-family: 'Neuton', serif;
}
body{
		color: #50667E;
		background-color: #f5f5f0;
}
